services:
  staffai:
    build: .
    container_name: staffai
    env_file:
      - .env
    secrets:
      - discord_bot_token
      - litellm_api_key
    volumes:
      - ./utils/prompts:/app/utils/prompts
      - ./data/user_memory:/app/data/user_memory
    networks:
      - bot
      - dbnet
      - intranet
    extra_hosts:
      - "litellm.iktdts.com:10.0.22.2"
      - "tenormcp.iktdts.com:10.0.22.2"
      - "ytmcp.iktdts.com:10.0.22.2"
      - "wamcp.iktdts.com:10.0.22.2"
      - "cvemcp.iktdts.com:10.0.22.2"
      - "pistonmcp.iktdts.com:10.0.22.2"
      - "searchmcp.iktdts.com:10.0.22.2"
      - "usersmcp.iktdts.com:10.0.22.2"
      - "redis.iktdts.com:10.0.20.133"
      - "postgres.iktdts.com:10.0.20.131"

secrets:
  discord_bot_token:
    file: ./secrets/discord_bot_token.txt
  litellm_api_key:
    file: ./secrets/litellm_api_key.txt

networks:
  intranet:
    external: true
  dbnet:
    external: true
  bot:
    external: true
